.search-box{
    height: 2.5rem;
    width: 46vw;
    padding:.25em;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: #808080;
    box-shadow: hsl(0, 0%, 95%) 5px 5px 5px;
    border:solid 1.5px hsl(0, 0%, 91%) ;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 2rem;
    margin-left:1rem;
   
    $tablet-width:768px;
    $desktop-width:1024px;
    $phone-width:480px;
    $smallscreen-width:290px;

    @media (min-width:#{$phone-width}) and (max-width:#{$tablet-width})  {
        width:80%;
}

@media (max-width:#{$phone-width})   {
    width:80%;
}
@media (max-width:#{$smallscreen-width})   {
    width:90%;
}

    &:hover{
        box-shadow:hsl(0, 0%, 89%) 5px 5px 5px;
        border:solid 1.5px hsl(0, 0%, 91%) ;
    }
    .search-icon{
        margin-left: 1.5rem;
        height: 1.1rem;
        fill:rgb(73, 33, 250);
        cursor: pointer;

        @media (max-width:#{$phone-width})   {
            height:1.85rem;
        }
    }
    .voice-icon{
        margin-right: 1.2rem;
       height: 1.1rem;
      fill:rgb(30, 96, 219);
      cursor: pointer;

      @media (max-width:#{$phone-width})   {
        height:1.85rem;
    }
      
    }
    input{
        border: none;
        outline: none;
        height:2.5rem;
        // padding:.25em;
        padding-left: 1rem;
        width:32rem;
        font-size: 1rem;
        @media (max-width:#{$phone-width})   {
            font-size:0.85rem;
        }

       

        &:focus{
            border:none;
            padding: .25em;
            padding-left: 1rem;
        }
    }

    button{
        border: none;
        color: rgb(128, 128, 128);
        font-size: 1rem;
        background-color: transparent;
        margin-right: 20px;
    }
    
}