$tablet-width:768px;
$desktop-width:1024px;
$phone-width:400px;

.search-page-top_section{
    margin-bottom:1.5rem;
}
.search-page_top{
    display:flex;
    flex-direction: row;
    padding: .3rem;
    align-items:flex-start ;
    

    button{
        border:none;
       background-color:transparent ; 
    }
    &_header{
        font-size: 2.5rem;
        cursor: pointer;
    }
    

    .search-page-searchbox{
        margin:0;
        padding:0;
    }
}

.search-page_sections{
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px grey ;
    justify-content: space-evenly;
    padding:.75rem;
    margin-bottom:.25rem;
    margin-left: 10rem;
    width:29rem;
    @media (max-width:#{$phone-width}){
        margin-left:1rem;
        padding:.3em;
    }
    @media (min-width:#{$phone-width}) and (max-width:#{$tablet-width})  {
        margin-left:3rem;
        margin-right: 7rem;
        padding:.5rem;
}


    li{
        list-style: none;
        // color:grey;
        cursor:pointer;
        font-size:.9rem;

    }
    
}
.search-page_content{
    margin-left:15rem;
    margin-right: 30rem;
    padding:1.2rem;
    @media (max-width:#{$phone-width}){
        margin-left:1rem;
        margin-right: 3rem;
        padding:.3em;
    }

    @media (min-width:#{$phone-width}) and (max-width:#{$tablet-width})  {
        margin-left:3rem;
        margin-right: 5rem;
        padding:.5rem;
}
    
   

    .search-page_images{
        object-fit: contain;
        height: 20px;
        width: 20px;
    }

    
  
    .search-page_resultContent{
        font-size: 14px;
        color: rgb(37, 37, 37);
        margin-top: 10px;
        @media (max-width:#{$phone-width}){
            font-size:.7rem;
        }
        @media (min-width:#{$phone-width}) and (max-width:#{$tablet-width})  {
         font-size:.8rem;
    }

        .search-page_imagesContent{
            object-fit: contain;
            height: 4rem;
            width: 4rem;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            @media (min-width:#{$phone-width}) and (max-width:#{$tablet-width})  {
                height:2rem;
        }
}
    }
}
.search-information{
    margin-left: 15rem;
    color: grey;
    @media (max-width:#{$phone-width}){
        margin-left:1.5rem;
    }
    @media (min-width:#{$phone-width}) and (max-width:#{$tablet-width})  {
     margin-left:3rem;
}
}
.icons{
    height:1rem;
    margin-left: 6px;
    fill:grey;
}
.search-page_resultTitle{
    text-decoration: none;
    color:rgb(13, 98, 235);
    .header{
        font-weight: 500;
        font-size: 1.5rem;
        @media (max-width:#{$phone-width}){
            font-size:1.1rem;
        }
                @media (min-width:#{$phone-width}) and (max-width:#{$tablet-width})  {
                    font-size:1.25rem;
            }
    }

    &:hover{
        text-decoration: underline;
    }
}
.link{
    color: grey;
    list-style: none;
    text-decoration: none;
    @media (max-width:#{$phone-width}){
        font-size:.5rem;
    }
    @media (min-width:#{$phone-width}) and (max-width:#{$tablet-width})  {
        font-size:.75rem;
}
}