$tablet-width:768px;
$desktop-width:1024px;
$phone-width:400px;

.news-page{
    margin-left:9rem;
    margin-right: 13rem;
    width:85vmin;
    display: grid;
    grid-gap:1.5rem;
    grid-template-columns:repeat(1,80vw);
    padding:2rem;

    @media (max-width:#{$phone-width}){
        margin-left:1rem;
        margin-right: 1.5rem;
    }
    @media (min-width:#{$phone-width}) and (max-width:#{$tablet-width})  {
        margin-left:1rem;
        margin-right: 1.5rem;
}


    .card{
        border:solid rgb(211, 211, 211) 1px;
        padding: 1rem;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        display:flex;
        flex-direction: row;
        .text{
            display:flex;
            flex-direction: column;
            min-width: 70vw;

            
    @media (max-width:#{$phone-width}){
        font-size:.5rem;
    }
    @media (min-width:#{$phone-width}) and (max-width:#{$tablet-width})  {
        font-size:.8rem;
}

            .source{
                text-transform: uppercase;
                font-weight: bold;
                margin-bottom: 3px;
            }
            .title{
                font-size: 1.15rem;
               margin-bottom: 6px;
               color:black;
               text-decoration: none;
                        
    @media (max-width:#{$phone-width}){
        font-size:.65rem;
    }
    @media (min-width:#{$phone-width}) and (max-width:#{$tablet-width})  {
        font-size:.85rem;
}

               &:hover{
                   color:blue;
                   cursor: pointer;
               }
            }
            .info{
                font-weight: 150;
                margin-bottom: 1rem;
                color:grey;
            }
            .time{
                color:grey;
            }
        }

        .image{
            object-fit: cover;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            @media (max-width:#{$phone-width}){
               height:1rem;
            }
            @media (min-width:#{$phone-width}) and (max-width:#{$tablet-width})  {
                height:1.5rem;
        }
}
    }
}