.voice-search-page{
    display:flex;
    align-items: center;
    height:100vh;
    justify-content: space-evenly;

    .voice-searh-text{
        width: 60vw;
        display: flex;
       flex-direction: column;

        .title{
            font-size:2.2rem;
        }
        .footer{
              color: blue;
              cursor: pointer;
              
        }
    }

   
    .voice-icon-container{
        height:7rem;
        width:7rem;
        background-color: rgba(240, 240, 240, 0.657);
        display:flex;
        justify-content:center;
        align-items: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: solid 1px rgb(211, 211, 211) ;
        animation:blinking 3s  steps(2,start) infinite;
        -webkit-animation:blinking 3s  steps(2,start) infinite;
        
        @keyframes blinking{
            0%{
                box-shadow:10px 0px 5px hsl(0, 0%, 90%);
            }
                  50%{
                    // opacity: 0.2;
                    box-shadow:5px 5px 8px hsl(0, 0%, 95%);
                  }
               100%{
                    // opacity: 0.5;
                    box-shadow:10px 6px 10px hsl(0, 0%, 90%);
                }
            }
       
        .voice-icon{
            height: 3rem;
            fill:rgb(214, 214, 214);
        }
    }
}
