$tablet-width:768px;
$desktop-width:1024px;
$phone-width:400px;

.search-page-top_section{
    margin-bottom:1.5rem;
}
.search-page_top{
    display:flex;
    flex-direction: row;
    padding: .3rem;
    align-items:flex-start ;

    &_header{
        // border-bottom:3px solid blue;
       background-color:transparent ; 

  
       @media (max-width:#{$phone-width}){
           font-size:.5rem;
       }
       @media (min-width:#{$phone-width}) and (max-width:#{$tablet-width})  {
           font-size:1.5rem;
   }
    }
    &_header{
        font-size: 2.5rem;
        cursor: pointer;
    }  

    .search-page-searchbox{
        margin:0;
        padding:0;
    }
}

ul{
    display: flex;
    flex-direction: row;
    // border-bottom: solid 1px rgb(212, 212, 212) ;
    padding:.75rem;
    margin-bottom:.25rem;
    width:100vw;

  @media (max-width:#{$phone-width}){
        margin-left:.2rem;
        padding:.3em;
    }

    @media (min-width:#{$phone-width}) and (max-width:#{$tablet-width})  {
        margin-left:1rem;
        width: 15%;
        padding:.5em;
}
    button{
        cursor:pointer;
        font-size:.95rem;
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width:#{$phone-width}){
           font-size: 0.65rem;
        }
        @media (min-width:#{$phone-width}) and (max-width:#{$tablet-width})  {
            font-size:.8rem;
    }

    }
    
}
.search-page_content{
    margin-left:15rem;
    margin-right: 30rem;
    padding:1.2rem;

    .search-page_images{
        object-fit: contain;
        height: 20px;
        width: 20px;
    }

    .search-page_resultTitle{
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: 500;

        &:hover{
            text-decoration: underline;
        }
    }

    .search-page_resultContent{
        font-size: 14px;
        color: rgb(37, 37, 37);
        margin-top: 10px;

        .search-page_imagesContent{
            object-fit: contain;
            height: 4rem;
            width: 4rem;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
}
    }
}
.search-information{
    margin-left: 15rem;
    color: grey;
}
.icons{
    height:1rem;
    margin-left: 6px;
    fill:rgb(212, 212, 212);
    @media (max-width:#{$phone-width}){
        height: 0.35rem;
     }
    

    @media (min-width:#{$phone-width}) and (max-width:#{$tablet-width})  {
        height:.5rem;
 }
}